<h2>Products</h2>
<hr/>

<ul>
  <li ng-repeat="product in products">
    {{product.name}} - {{product.base_price |currency}} - {{product.description}}
  </li>
</ul>

<form ng-submit="addProduct()">
  <input type='text' placeholder='name' ng-model='newProductName'>
  <input type='number' placeholder='price' ng-model='newProductPrice'>
  <input type='description' placeholder='description' ng-model='newProductDesc'>
  <button type='submit'>Add Product</button>
</form>

<p>Name: {{newProductName}}
<p>Desc: {{newProductDesc}}
<p>Price: {{newProductPrice | currency}}
